---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Machines"
    description="Browse through the list of machines, organized by operating system. Click on any machine to view the detailed writeup."
    showHeader={false}
>
    <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl">All Machines</h1>

    <div class="flex flex-wrap gap-12">
        <a class="hover:pointer" href="/writeups/machines/windows">
            <div class="h-64 w-64 bg-gray-200 rounded-lg">
                <h2 class="text-xl font-serif text-gray-900">Windows Machines</h2>
            </div>
        </a>

        <a class="hover:pointer" href="/writeups/machines/linux">
            <div class="h-64 w-64 bg-gray-200 rounded-lg">
                <h2 class="text-xl font-serif text-gray-900">Linux Machines</h2>
            </div>
        </a>
    </div>
</BaseLayout>
