---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Button from '../../components/Button.astro';
import Hero from '../../components/Hero.astro';
import PostPreview from '../../components/PostPreview.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';
---

<BaseLayout title={`Windows`} description={`List of Windows machines`} image={{ src: '/dante-preview.jpg', alt: 'The preview of the site' }} showHeader={false}>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Windows Operating System Machine Writeups</h1>
    <!-- {blog.map((post) => <PostPreview post={post} class="mb-10 sm:mb-12" />)} -->
    <!-- <Pagination page={page} class="my-16 sm:my-24" /> -->
    <div>
        <p>
            Dentist is a Windows machine rated as easy. It involves finding a hidden directory, exploiting a vulnerable service, and then exploiting a
            vulnerable application to get a reverse shell.
        </p>
        <p><a href="/writeups/machines/windows/dentist">Dentist</a></p>
    </div>
</BaseLayout>
